*{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: border-box;
}
body{

    display: flex;
    justify-content: center;
    text-align: center; 
    
    background-color: rgba(197, 127, 228, 0.5);
}
.op{
    display: flex;
    justify-content: center;
    text-align: center; 
}
.player{
    border: 4px double rgba(99, 10, 137, 0.973);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60px; */
    max-width: 300px;
    border-radius: 15px;
    font-size: 18px;
    margin-top: 10px;
    z-index: 1;

}

.player div{
    padding: 15px 25px;
    opacity: 1;

    
}
.active{
    background-color: rgba(99, 10, 137, 0.973);
    color: azure;
    border: 2px solid white;
    border-radius: 15px;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;

}
.cell{
    height:100px;
    width: 100px;
    border: 4px double rgba(99, 10, 137, 0.973);
    font-size: 80px;
display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    border-radius: 10px;
    
}
.cell:nth-child(1){
    border-top: none;
    border-left: none;
    margin-left: 5px;
}
.cell:nth-child(2){
    border-top: none;

}

.cell:nth-child(3){
    border-top: none;
    border-right: none;
}
.cell:nth-child(4){
    margin-left: 5px;
    border-left: none;
}
.cell:nth-child(6){
    
    border-right: none;
}
.cell:nth-child(7){
    margin-left: 5px;
    border-bottom: none;
    border-left: none;
}
.cell:nth-child(8){
    border-bottom: none;
    
}
.cell:nth-child(9){
    border-bottom: none;
    border-right: none;
}
.result{
    position: relative; 
    top: -400px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,1);
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
.result{

    
    background-color: rgb(44, 8, 59); 
    height: 500px;
    width: 500px; 
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    opacity: 0.9;
} 
.result button{
    height: 30px;
    width: 100px;
    font-size: 30px;
    padding-bottom: 50px;
    background-color: cadetblue;
}
.result h1{
    font-size: 50px;
    padding-bottom: 60px;
    
}
.result img{
    padding-bottom: 50px;
    
}
.result button:hover{
    cursor: pointer;
}
.inactive {
    display: none;
}
.disabled{
    pointer-events: none;
}
.cell.x{
    color: #43a5b1c9;
}
.cell.o{
    color:#ec6d6d;
}

